/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


.liDel {
    background-color: red;
}

.listContainer {
    border-style: solid;
    padding: 5px;
}

.paper {
    border: solid 2px rgb(0, 91, 107);
    padding-right: 40px;
}
.btnAdd {
    background-color: white;
    transition-duration: .4s;
}
.btnAdd:hover {
    background-color:rgb(194, 255, 194);
}